body {
  background: #bdf;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}


.options {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.search {
  width: 100vw;
  display: flex;
  justify-content: center;
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pair {
  position: relative;
  width: 400px;
  height: 500px;
}

/* MASK A (left) */
.mask-left {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

/* MASK B (right) */
.mask-right {
  clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%);
}

.img-container,
.img-container-reversed {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 500px;
  overflow: hidden;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-mirror {
  transform: scaleX(-1);
}

/* Slider */
input[type="range"] {
  width: 400px;
}

/* Button styling (optional) */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


