body {
  background: #833ab4;
  background: linear-gradient(
    -180deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(252, 218, 69, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  height: 120vh;
}

.titleBold {
  filter: opacity(1);
  border-radius: 10px;
  width: 320px;
  height: 90px;
  /* margin-top: 2vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  filter: opacity(.7);;
  margin: -15px;
  padding: 0;
  font-size: clamp(.5rem, 1.5rem, 3rem);
  font-family: "Boldonse", system-ui;
  font-weight: 800;
  font-style: normal;
  background: -webkit-linear-gradient(#693fa7, #320e72);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

backward {
  background: -webkit-linear-gradient(#fff954, #ffcd07);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.navigation {
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}


.options {
  width: 100vw;
  gap: 1rem;
  display: flex;
  justify-content: center;
}

.search {
  
  gap: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
color: white;
  padding: 10px 20px;
  border-radius: 50px;
  width: 200px;
  background-color: rgb(170 114 185);
  border-style: none;
  box-shadow: inset -3px 4px 3px 0px rgba(0, 0, 0, 0.385)

}

.selectBox {
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  transition: all 0.5s ease;
  position: relative;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="16" width="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polygon points="5,7 15,7 10,12"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  border: 2px solid #333;
  box-shadow: -3px 4px 4px 0px rgba(0, 0, 0, 0.385);
  border-style: none;
  
}



button {
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  padding: 8px 20px;
  font-size: .8rem;
  box-shadow: -3px 4px 4px 0px rgba(0, 0, 0, 0.385)

}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(59, 60%, 73%);
  color: hsl(0, 0%, 19%);
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(57, 97%, 56%);
  color: hsl(296, 72%, 18%);
  transform: scale(1.05);
  transition: 100ms;
}


#swapButton {
    margin-bottom: 20px;

}

#swapButton:hover {
  background-color: rgb(170 114 185);
    color: white;


}

#swapButton:active {
  background-color: rgb(153, 91, 171);
  
}

.wrapper {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  margin-bottom: 2vh;
  width: 90wv;
}

.pair {
  position: relative;
  width: 400px;
  height: auto;
   max-width: 99vw;       /* ✔ shrinks on small screens */
  aspect-ratio: 4 / 5;
}

.mask-left {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.mask-right {
  clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%);
}

.img-container,
.img-container-reversed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-mirror {
  transform: scaleX(-1);
}

input[type="range"] {
  width: clamp(300px, 400px, 95vw);
}



@media (max-height: 680px){
.content {
  scale: 1;
  height: 100vh;
  margin: 0;
}

.titleBold {
  scale: .7;

}

.wrapper {
  scale: .8;
  margin-top: -50px;
}

}
